In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
from config import g_key
gmaps.configure(api_key=g_key)

In [2]:
# Import the WeatherPy_vacation.csv
city_data_df = pd.read_csv("data/WeatherPy_vacation.csv")
city_data_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Hermanus,ZA,65.71,clear sky,-34.42,19.23,Misty Waves Boutique Hotel
1,2,Castro,BR,67.93,overcast clouds,-24.79,-50.01,CHACARA BAILLY
2,5,Buraydah,SA,68.00,scattered clouds,26.33,43.98,Mövenpick Hotel Qassim
3,7,Airai,TL,66.69,clear sky,-8.93,125.41,Juvinal Martin
4,17,Cape Town,ZA,66.99,clear sky,-33.93,18.42,Southern Sun Waterfront Cape Town

In [3]:
dest_one_df = city_data_df.loc[city_data_df["City"] == "Capao Bonito"]
dest_one_coord = tuple(dest_one_df[["Lat", "Lng"]].iloc[0])
dest_one_coord

(-24.01, -48.35)

In [4]:
dest_two_df = city_data_df.loc[city_data_df["City"] == "Tocopilla"]
dest_two_coord = tuple(dest_two_df[["Lat", "Lng"]].iloc[0])
dest_two_coord

(-22.09, -70.2)

In [5]:
waypoint_df = city_data_df.loc[city_data_df["City"] == "Coquimbo"]
waypoint_coord = tuple(waypoint_df[["Lat", "Lng"]].iloc[0])
waypoint_coord

(-29.95, -71.34)

In [6]:
dest_three_df = city_data_df.loc[city_data_df["City"] == "Coihaique"]
dest_three_coord = tuple(dest_three_df[["Lat", "Lng"]].iloc[0])
dest_three_coord

(-45.58, -72.07)

In [7]:
dest_four_df = city_data_df.loc[city_data_df["City"] == "Castro"]
dest_four_coord = tuple(dest_four_df[["Lat", "Lng"]].iloc[0])
dest_four_coord

(-24.79, -50.01)

In [8]:
travel_cities_df = pd.concat([dest_one_df, dest_two_df, waypoint_df, dest_three_df, dest_four_df], axis=0)
travel_cities_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
36,526,Capao Bonito,BR,65.19,broken clouds,-24.01,-48.35,HOTEL PASSARIM
33,491,Tocopilla,CL,69.71,clear sky,-22.09,-70.20,Hotel Galvarino
31,465,Coquimbo,CL,66.20,scattered clouds,-29.95,-71.34,Hotel San Juan
8,72,Coihaique,CL,66.20,broken clouds,-45.58,-72.07,Diego De Almagro Coyhaique
1,2,Castro,BR,67.93,overcast clouds,-24.79,-50.01,CHACARA BAILLY

In [9]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Curent Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in travel_cities_df.iterrows()]

In [10]:
# Creating direction maps
fig = gmaps.figure()

# Add direction layer
dir_layer_one = gmaps.directions_layer(dest_one_coord, dest_two_coord, travel_mode="DRIVING")
fig.add_layer(dir_layer_one)
dir_layer_two = gmaps.directions_layer(dest_two_coord, dest_three_coord, waypoints=[waypoint_coord], travel_mode='DRIVING')
fig.add_layer(dir_layer_two)
dir_layer_three = gmaps.directions_layer(dest_three_coord, dest_four_coord, travel_mode='DRIVING')
fig.add_layer(dir_layer_three)

fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Creating marker maps
fig = gmaps.figure()
locations = travel_cities_df[["Lat", "Lng"]]
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))